* {
    box-sizing: border-box;
  }

  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background: lightslategray;
    color: white;
  }

  /* Increase the font size of the heading */
  .header h1 {
    font-size: 50px;
  }

  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }

  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }

  /* Column container */
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }

  /* Main column */
  .main {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  /* Footer */
  .footer {
    color: white;
    padding: 20px;
    text-align: center;
    background: lightslategray;
  }
  .projects{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .project{
      flex: 0 0 33%;
      padding: 20px;
  }
  /*My picture*/
  .picture{
      height: 400px;
      width: 400px;
  }
/* Homework and project links already done*/
  .homework-1{
      height: 350px;
      width: 350px;
      margin-left: 5%;
      margin-bottom: 5%;
  }
  /* placeholder for projects*/
  .homework-2{
    height: 250px;
    width: 250px;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 20%;
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

